.App {
  font-family: sans-serif;
  text-align: center;
  margin: 100px 100px 0px 100px;
  border: solid white;
  background-color: white; 
  box-shadow: 5px 5px 5px #aaaaaa;
}

body {
  background-color: gray;
}
img {
  height: 100px;
  width: 100px;
  border: solid #ccffcc;
  border-radius: 50%;
}

.content{
  font-family: Sriracha, Arial;
  color: #ff3300;
  background-color:#99ff66;
  border: solid;
  border-radius: 20px;
}
